@import url("https://fonts.googleapis.com/css?family=Oxygen:300,400,700&display=swap");
html {
  scroll-behavior: smooth !important;
  font-size: 67.5%;
}

body {
  font-family: "Oxygen", sans-serif;
  background-color: black;
  overflow-x: hidden !important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.container header {
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  background-image: url(./img/Hero/dark-honeycomb.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  border-bottom: 1px solid #bc9b5d;
  width: 100%;
  padding: 0.5rem 5%;
}

.container header .logo img {
  width: 150px;
  margin-left: 1rem;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.container header .phone-number {
  border-radius: 100px;
  color: #bc9b5d;
  font-size: 1.5rem;
  border: 0.5px solid #bc9b5d;
  padding: 0.9rem;
  margin-right: 1rem;
  letter-spacing: 1px;
  display: inline;
  background-color: transparent;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px transparent;
          box-shadow: 1px 1px 1px transparent;
  -webkit-transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) all;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

.container header .phone-number:hover {
  -webkit-box-shadow: 1px 1px 1px #bc9b5d;
          box-shadow: 1px 1px 1px #bc9b5d;
  border: 1px solid #bc9b5d;
  box-shadow: 1px 1px 1px #bc9b5d;
}

.container header .phone-number:hover h4 i {
  -webkit-animation: mymove 0.2s infinite;
          animation: mymove 0.2s infinite;
}

.container header .phone-number:hover h4 {
  text-align: center;
}

@-webkit-keyframes mymove {
  from {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes mymove {
  from {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.container nav {
  padding: 1rem 0rem;
  margin-left: auto;
  margin-right: auto;
}

.container nav .nav-main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container nav .nav-main a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #bc9b5d;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  font-weight: 500;
  border: 1px solid transparent;
}

.container nav .nav-main a:hover {
  border: 1px solid #362b17;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  -webkit-box-shadow: 1px 1px 1px #bc9b5d;
          box-shadow: 1px 1px 1px #bc9b5d;
  -webkit-transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.container nav .nav-main a.active {
  border: 1px solid #362b17;
  padding: 0.5rem 1rem;
  color: #bc9b5d;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 1px #bc9b5d;
          box-shadow: 1px 1px 1px #bc9b5d;
}

.container nav span {
  cursor: default;
  font-size: 1.5rem;
  color: #bc9b5d;
  padding: 0 1rem;
  text-transform: uppercase;
}

.container section {
  position: relative;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  margin-top: -20px;
  width: 100%;
}

.container section h1 {
  padding-bottom: 0rem;
  font-size: 3rem;
  width: 15%;
  margin: 0 auto;
  border: 1px solid #bc9b5d;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #bc9b5d;
  text-transform: uppercase;
  padding: 5px 10px;
}

.container section .services-grid {
  background-image: url(./img/Hero/dark-honeycomb.png);
  border-radius: 30px;
  border: 1px solid #bc9b5d;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 0rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column-gap: 0rem;
}

.container section .services-grid .grid-item {
  border-radius: 10px;
  height: 85%;
  width: 85%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background: black;
  overflow: hidden;
  border: 1px solid #bc9b5d;
  -webkit-box-shadow: 2px 2px 1px #bc9b5d;
          box-shadow: 2px 2px 1px #bc9b5d;
}

.container section .services-grid .grid-item .ulist {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  list-style: none;
  opacity: 0;
  z-index: 5;
  line-height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.container section .services-grid .grid-item .ulist li:not(:last-child) {
  border-bottom: 2px solid white;
}

.container section .services-grid .grid-item .ulist:hover {
  z-index: 50;
  background-color: #bc9b5d;
  opacity: 1;
  color: white;
}

.container section .services-grid .grid-item.last {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.container section .services-grid .grid-item a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
  overflow: hidden;
  border: 2px solid none;
  position: relative;
  z-index: 1;
  opacity: 0.7;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.container section .services-grid .grid-item .img:hover {
  opacity: 0;
  z-index: -20;
}

.container section .services-grid .grid-item .btn {
  text-decoration: none;
  color: #121113;
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: #252e46 2px 2px 3px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
}

.container footer {
  border-top: 1px solid #bc9b5d;
  position: absolute;
  left: 0;
  right: 0;
  color: #bc9b5d;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(./img/Hero/dark-honeycomb.png);
  padding: 2rem 2rem;
}

.container footer .logo_footer img {
  width: 100px;
}

.container footer .phone a {
  color: #bc9b5d;
}

.container footer .phone a i {
  font-size: 2rem;
  padding: 10px;
}

.container footer .phone a:hover i {
  font-size: 2.1rem;
}

.reviews {
  overflow-x: hidden;
  max-width: 85%;
  margin: 0 auto;
  border: 1px solid #bc9b5d;
  border-radius: 30px;
  background-image: url(./img/Hero/dark-honeycomb.png);
  margin-bottom: 5rem;
}

.reviews .elfsight-app-9d7e7745-df8f-4488-8ee9-971bcbd8fb76 {
  padding: 2rem;
}

.reviews .elfsight-app-9d7e7745-df8f-4488-8ee9-971bcbd8fb76 #eapps-google-reviews-9d7e7745-df8f-4488-8ee9-971bcbd8fb76 .Foundation__Inner-sc-11tbro4-1 .CommonLayout__Inner-d1flxf-1 > a {
  display: none !important;
}

.edvQLK,
.icpXLA {
  border: 1px solid #bc9b5d;
}

.GPjwE {
  background-color: black !important;
  color: #bc9b5d !important;
  font-size: 1.5rem;
  border: 0.5px solid #bc9b5d;
  padding: 0.9rem;
  margin-right: 1rem;
  letter-spacing: 1px;
  display: inline;
  background-image: url(./img/Hero/dark-honeycomb.png);
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px transparent;
          box-shadow: 1px 1px 1px transparent;
  -webkit-transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) all;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

.GPjwE:hover {
  -webkit-box-shadow: 1px 1px 1px #bc9b5d;
          box-shadow: 1px 1px 1px #bc9b5d;
  border: 1px solid #bc9b5d;
  box-shadow: 1px 1px 1px #bc9b5d;
}

.review_title {
  padding-bottom: 0rem;
  font-size: 3rem;
  color: #bc9b5d;
  text-transform: uppercase;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  border: 1px solid #bc9b5d;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #bc9b5d;
  text-transform: uppercase;
  padding: 5px 10px;
}

/* Slideshow container */
main {
  /* Slideshow container */
  /* Hide the images by default */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Caption text */
  /* Number text (1/3 etc) */
  /* The dots/bullets/indicators */
  /* Fading animation */
}

main img {
  max-height: calc(100vh - 100px);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}

main .slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  margin-bottom: 5rem;
}

main .mySlides {
  display: none;
  background-color: #121113;
}

main .prev,
main .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 1.5rem;
  color: #bc9b5d;
  font-weight: bold;
  font-size: 1.5rem;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: transparent;
  border: 1px solid #bc9b5d;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

main .prev:hover,
main .next:hover {
  background-color: rgba(188, 155, 93, 0.8);
}

main .text {
  margin: 0 auto;
  color: white;
  font-size: 2rem;
  padding: 8px 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
  text-align: center;
  text-shadow: black 1px 1px 1px;
  z-index: 1;
  text-transform: uppercase;
}

main img {
  opacity: 0.6;
}

main .numbertext {
  display: none;
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

main .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

main .active,
main .dot:hover {
  background-color: #717171;
}

main .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.contactAddress h2 {
  padding-bottom: 0rem;
  font-size: 3rem;
  color: #bc9b5d;
  text-transform: uppercase;
  text-align: center;
}

main .col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  width: 85%;
  color: white;
  margin-bottom: 3rem;
  border: 1px solid #bc9b5d;
  border-radius: 30px;
  padding: 2rem;
  background-image: url(./img/Hero/dark-honeycomb.png);
}

main .col2 h1 {
  margin-bottom: 1rem;
  text-align: left;
  font-size: 3rem;
}

main .col2 table,
main .col2 .address,
main .col2 a {
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 700;
}

main .col2 table th,
main .col2 .address th,
main .col2 a th {
  text-align: left;
}

main .col2 td {
  text-align: left;
}

main .col2 a {
  text-align: left;
}

main .col2 .address {
  text-align: left;
}

.form-container,
.about_container {
  border: 1px solid #bc9b5d;
  background-image: url(./img/Hero/dark-honeycomb.png);
  border-radius: 30px;
  padding: 10px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  padding-top: 2rem;
  margin-bottom: 2rem;
  margin-top: 30px;
}

.form-container .contact-form,
.about_container .contact-form {
  text-align: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-container .contact-form label,
.about_container .contact-form label {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.form-container .contact-form input,
.about_container .contact-form input {
  width: 30%;
  border-radius: 5px;
  font-size: 2.3rem;
  margin-bottom: 1.5rem;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #bc9b5d;
  color: white;
}

.form-container .contact-form input:last-child,
.about_container .contact-form input:last-child {
  height: 20px;
}

.form-container .contact-form textarea,
.about_container .contact-form textarea {
  border-radius: 5px;
  min-width: 50%;
  height: 10rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  border: 1px solid #bc9b5d;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.form-container .contact-form button,
.about_container .contact-form button {
  background-color: transparent;
  border-radius: 100px;
  color: #bc9b5d;
  font-size: 1.5rem;
  border: 0.5px solid #bc9b5d;
  padding: 0.9rem;
  margin-right: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  width: 30%;
  display: inline;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px transparent;
          box-shadow: 1px 1px 1px transparent;
  -webkit-transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) all;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) all;
  margin-bottom: 10px;
  margin-top: 10px;
}

.form-container .contact-form button:hover,
.about_container .contact-form button:hover {
  -webkit-box-shadow: 1px 1px 1px #bc9b5d;
          box-shadow: 1px 1px 1px #bc9b5d;
  border: 1px solid #bc9b5d;
  box-shadow: 1px 1px 1px #bc9b5d;
}

.about_container {
  padding-top: 10px;
  padding: 2rem;
  margin-top: 0;
  margin-bottom: 5rem;
}

.about_container .about_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_container .about_info {
  width: 100%;
  font-size: 1.5rem;
  position: relative;
  background-color: black;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 1px solid #bc9b5d;
}

.about_container .about_info .icons {
  width: 100%;
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 0;
  display: none;
}

.about_container .about_info .icons i {
  font-size: 30px;
  color: #bc9b5d;
  border: 1px solid #bc9b5d;
  background-image: url(./img/Hero/dark-honeycomb.png);
  padding: 5px;
  border-radius: 5px;
  margin: 1rem;
}

.about_container .about_info .icons i span {
  margin-top: 10px;
  display: block;
  font-size: 2rem;
  font-weight: 300;
}

.about_container .about_info p {
  padding: 1rem;
}

.about_picture > img {
  background-size: cover;
  width: 98%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-right: 2px solid #bc9b5d;
}

.container #map {
  height: 500px;
  width: 100%;
  margin-bottom: 2rem;
  margin: 0 auto;
}

h2 {
  padding-bottom: 2rem;
  font-size: 3rem;
  color: #bc9b5d;
  text-transform: uppercase;
  text-align: center;
  width: 15%;
  margin: 0 auto;
  border: 1px solid #bc9b5d;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #bc9b5d;
  text-transform: uppercase;
  padding: 5px 10px;
}

.container-map #map > div {
  background-color: black !important;
}

.gallery-title {
  padding-bottom: 2rem;
  font-size: 3rem;
  color: #bc9b5d;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  width: 20%;
  margin: 0 auto;
  border: 1px solid #bc9b5d;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #bc9b5d;
  text-transform: uppercase;
  padding: 5px 10px;
}

.grid-box {
  display: block;
  height: 100%;
}

.gallery-container {
  background-image: url(./img/Hero/dark-honeycomb.png);
  border-radius: 30px;
  border: 1px solid #bc9b5d;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  padding: 2rem;
  height: 100%;
  width: 85%;
  grid-gap: 10px;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.gallery-container img {
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.1);
}

.gallery-container img:hover {
  opacity: 0.8;
}

.mb2 {
  margin-top: 2rem;
}

.lightbox.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lightbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100000;
  display: none;
}

.lightbox-container {
  position: relative;
  height: 80vh;
  width: 50%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.lightbox-container .next,
.lightbox-container .prev,
.lightbox-container .close {
  position: absolute;
  font-size: 3rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  cursor: pointer;
}

.lightbox-container .next {
  right: 0;
  top: 45%;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.lightbox-container .prev {
  left: 0;
  top: 45%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.service-card {
  width: 100%;
}

.service-card .service-container h1 {
  padding-top: 2rem;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.service-card .service-container .service-main {
  text-align: center;
}

.service-card .service-container .service-main .description {
  font-size: 2rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  line-height: 3rem;
}

.service-card .service-container .service-main .btn-cta {
  text-align: center;
  width: 30%;
  min-width: 100px;
  margin-top: 2rem;
  padding: 1rem 0;
  border-radius: 3px;
  border: 1px solid black;
  background-color: rgba(29, 150, 29, 0.4);
  font-size: 2.2rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: 1px 1px 1px 1px black;
          box-shadow: 1px 1px 1px 1px black;
}

.service-card .service-container .service-main .btn-cta .fas {
  font-size: 2rem;
  margin-bottom: 5px;
  display: block;
}

.service-card .service-container .service-main .btn-cta:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0);
}

.service-card .service-container .service-main p {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.service_container.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70%;
  width: 80%;
}

.service_container {
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  height: 0px;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(./img/Hero/dark-honeycomb.png);
  width: 0px;
  z-index: 500000;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 30px;
  border: 1px solid #bc9b5d;
}

.service_container .service_left {
  width: 100%;
  border-radius: 30px;
}

.service_container .service_left img {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
}

.service_container .service_right {
  width: 100%;
  position: relative;
}

.service_container .service_right .service_close {
  position: absolute;
  right: 15px;
  top: 10px;
  padding: 5px;
  color: #bc9b5d;
  font-size: 15px;
  cursor: pointer;
}

.service_container .service_right .service_close:hover {
  font-size: 16px;
}

.service_container .service_right .service_title {
  font-size: 3rem;
  color: #bc9b5d;
  margin: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.service_container .service_right .service_description {
  font-size: 1.8rem;
  padding: 20px;
  padding-top: 10px;
  color: #bc9b5d;
}

.service_container .service_right .service_logo {
  width: 150px;
  position: absolute;
  margin-top: auto;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-left: 10px;
}

.service_container .service_right .service_button {
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  margin-top: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 50px;
  border-radius: 100px;
  color: #bc9b5d;
  font-size: 1.5rem;
  border: 0.5px solid #bc9b5d;
  padding: 0.9rem;
  margin-right: 1rem;
  letter-spacing: 1px;
  display: inline;
  background-color: transparent;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px transparent;
          box-shadow: 1px 1px 1px transparent;
  -webkit-transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) all;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

.service_container .service_right .service_button:hover {
  -webkit-box-shadow: 1px 1px 1px #bc9b5d;
          box-shadow: 1px 1px 1px #bc9b5d;
  border: 1px solid #bc9b5d;
  box-shadow: 1px 1px 1px #bc9b5d;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999999;
}

#status {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
}

.spinner {
  margin: 0 auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 5px solid rgba(0, 0, 0, 0.2);
  border-right: 5px solid rgba(0, 0, 0, 0.2);
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
  border-left: 5px solid black;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

.spinner,
.spinner:after {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.service-card.hide {
  display: none;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 1600px) {
  .gallery-container {
    -ms-grid-columns: (1fr)[20];
        grid-template-columns: repeat(20, 1fr);
  }
  .lightbox-container {
    position: relative;
    height: 90vh;
    width: 50%;
  }
}

@media only screen and (max-width: 1600px) {
  .container section .services-grid .grid-item .ulist:hover {
    font-size: 1.7rem;
  }
  html {
    font-size: 60%;
  }
}

@media only screen and (max-width: 1000px) {
  .container nav .nav-main a {
    font-size: 1.2rem;
    font-weight: 800;
  }
  .container header .logo img {
    width: 120px;
  }
  .container nav .nav-main {
    padding: 0.5rem 1rem;
  }
  .container header {
    padding: 0.4rem 1%;
  }
  .container section .services-grid .grid-item .ulist:hover {
    font-size: 1.4rem;
  }
  .container section .services-grid .grid-item .btn {
    font-size: 2rem;
  }
  main .text {
    font-size: 1.5rem;
  }
  main .slideshow-container {
    max-width: 100%;
  }
  .container header .phone-number {
    font-size: 1.4rem;
  }
  .container main .col2 h1 {
    font-size: 2.5rem;
  }
  .container main .col2 table,
  .container main .col2 .address,
  .container main .col2 a {
    font-size: 1.6rem;
  }
  .gallery-title {
    font-size: 2rem;
  }
  .container section h1 {
    font-size: 2rem;
  }
  .lightbox-container {
    position: relative;
    height: 90vh;
    width: 80%;
  }
  .container {
    max-width: 100%;
  }
  .gallery-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 750px) {
  .container section .services-grid .grid-item .ulist:hover {
    font-size: 1.1rem;
  }
  .container section h1 {
    width: 22%;
  }
  .lightbox-container {
    position: relative;
    height: 72vh;
    width: 80%;
  }
  html {
    font-size: 55%;
  }
  .container header .phone-number {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
  #phonenumber {
    display: none;
  }
  .grid-item .btn {
    padding: 0.5rem 5%;
  }
  main .prev,
  main .next {
    padding: 1rem;
  }
  .gallery-container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 603px) {
  .container header .logo img {
    display: none;
  }
  .container nav {
    margin-left: 0;
  }
  main .text {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 550px) {
  .container section .services-grid .grid-item .ulist:hover {
    font-size: 1.7rem;
  }
  .container section .services-grid .grid-item .ulist:hover {
    opacity: 0;
  }
  .lightbox-container {
    position: relative;
    height: 70vh;
    width: 80%;
  }
  .gallery-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  html {
    font-size: 55%;
  }
  .container {
    max-width: 100%;
  }
  .container section .services-grid {
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .container section .services-grid .grid-item.last {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .container main .col2 {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (max-width: 450px) {
  .container section .services-grid .grid-item .btn {
    font-size: 3.4rem;
  }
  .lightbox-container {
    position: relative;
    height: 60vh;
    width: 80%;
  }
  .container nav .nav-main a {
    font-size: 2rem;
  }
  .gallery-container {
    overflow: hidden;
    grid-gap: 5px;
    margin: 0 5px;
  }
  .gallery-container img {
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
  }
  html {
    font-size: 30%;
  }
  .container main .slideshow-container {
    margin-bottom: 0;
    min-width: 99%;
  }
  .container main .slideshow-container .text {
    width: 80%;
  }
  .container main .slideshow-container .text p {
    font-size: 1.8rem;
  }
  .container main .slideshow-container .text h1 {
    margin-bottom: 0.5rem;
    font-size: 3rem;
  }
  .container section h1 {
    margin-top: 6rem;
  }
  .container section .services-grid {
    -ms-grid-rows: (1fr)[7];
        grid-template-rows: repeat(7, 1fr);
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .container section .services-grid .grid-item.last {
    -ms-grid-column: 1;
    grid-column: 1 / 1;
  }
  .container main .prev,
  .container main .next {
    font-size: 2rem;
  }
  .container main .col2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container main .col2 .address,
  .container main .col2 .opening-hours {
    text-align: center;
  }
  .container main .col2 .address h1,
  .container main .col2 .opening-hours h1 {
    text-align: center;
  }
  .container main .col2 .address table th,
  .container main .col2 .address table td,
  .container main .col2 .opening-hours table th,
  .container main .col2 .opening-hours table td {
    text-align: center;
  }
  .container main .col2 .address {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 350px) {
  html {
    font-size: 30%;
  }
  .lightbox-container {
    position: relative;
    height: 50vh;
    width: 85%;
  }
  .container nav span {
    padding: 0 0.2rem;
  }
}
/*# sourceMappingURL=style.css.map */